
<nav class="navbar navbar-expand-lg  fixed-top  bg-dark" id="mainNav">
  <div class="container ">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">welcome</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" *ngIf="loginService.isUserLoggedIn()" [routerLink]="['/service']"   class="nav-link">Ajouter Service</a>
          </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ouvriers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger"  *ngIf="!loginService.isUserLoggedIn()" [routerLink]="['/login']" routerLinkActive="router-link-active"  class="nav-link">sign in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" *ngIf="!loginService.isUserLoggedIn()" [routerLink]="['/signup']"   href="#team">sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" *ngIf="loginService.isUserLoggedIn()" [routerLink]="['/logout']"   class="nav-link">LogOut</a>
          </li>

      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">ALL in One</div>
      <div class="intro-heading text-uppercase">LES OUVRIERS
        MULTI-SERVICES</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
    </div>
  </div>
</header>
