<div class="container-fluid" id="login" >
  <div class="offset-4">
   <div  class="login ">
  <div class="myform form shadow-lg">
      <div class="logo mb-3">
          <div class=" col-md-12 text-center">
              <h1>Login</h1>
          </div>
      </div>
      <form [formGroup]="loginform">
          <div class="form-group black">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" name="username"  formControlName="username" aria-describedby="emailHelp"
                  placeholder="Enter email" [(ngModel)]="username" class="form-control">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Password</label>
              <input type="password" formControlName="password" class="form-control"
                  aria-describedby="emailHelp" placeholder="Enter Password" [(ngModel)]="password">
          </div>

          <div class="col-md-12 text-center ">
              <button (click)=checkLogin()  class=" btn btn-block mybtn btn-primary tx-tfm ">Login</button>
          </div>
          <div class="col-md-12 ">
          </div>
          <div class="form-group">
              <p class="text-center text-muted">Don't have account? <a [routerLink]="['/signup']" routerLinkActive="router-link-active" id="signup">Sign up here</a></p>
              <p class="text-center "><a [routerLink]="['']" routerLinkActive="router-link-active" id>Go back to home?</a></p>

            </div>
      </form>

  </div>
</div>
    </div>

  </div>

